@import url("https://fonts.googleapis.com/css2?family=Nova+Round&display=swap");

/*------------------------------------------- BASE */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
a {
  color: #0c2833;
  font-family: "Nova Round", cursive;
  line-height: 1.25;
  font-weight: 500;
  font-size: 1rem;
}

ul {
  list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.display-none {
  opacity: 0;
  display: none;
}

.section-title {
  position: relative;
  z-index: 10;
  width: 16rem;
  margin: 0 auto 3rem;
  padding: 0.25rem 0.25rem;
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 2px #a77b00 solid;
}

/*------------------------------------------- LOADER */
.loader-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  cursor: wait;
}

/*------------------------------------------- NAV */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem 1rem;
  justify-items: center;
  align-items: center;
  opacity: 1;
  z-index: 999;
  transition: background-color 0.5s ease-in-out;
}

nav h1 {
  font-weight: 600;
  justify-self: left;
  font-size: 0.75rem;
  transition: 0.5s all ease-in-out;
}

nav h1::first-letter {
  color: #a77b00;
}

.gold {
  color: #a77b00;
}

.rd-logo {
  justify-self: left;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(192deg)
    brightness(102%) contrast(104%);
  transition: 0.1s all;
}

.rd-logo:hover {
  filter: invert(91%) sepia(26%) saturate(620%) hue-rotate(331deg)
    brightness(94%) contrast(86%);
}

nav img {
  width: 2.5rem;
}

.social-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: right;
  column-gap: 1.5rem;
}

.social-icon {
  font-size: 1.25rem;
  color: #ffffff;
  transition: 0.1s all;
}

.social-icon:hover {
  color: #e1c896;
}

.nav-active {
  background: white;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 2px #a77b00 solid;
}

.rd-logo-active {
  justify-self: center;
  filter: invert(11%) sepia(10%) saturate(3430%) hue-rotate(152deg)
    brightness(96%) contrast(93%);
}

.social-icon-active {
  color: #0c2833;
}

/*------------------------------------------- ANIMATIONS */
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes animatedBackgroundLeft {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -10000px 10000px;
  }
}

@keyframes animatedBackgroundRight {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 10000px 10000px;
  }
}

/* WAVE LETTER EFFECT */
.wave {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95vw;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  color: rgba(0, 0, 0, 0.025);
  cursor: default;
}
.wave span {
  display: inline-block;
  transition: all 1s;
}

.wave span:hover {
  color: rgba(225, 200, 150, 0.5);
  transition: all 0s;
}

@keyframes rise {
  0% {
    transform: translate(0, 10%);
  }

  50% {
    -webkit-text-stroke: 2px rgba(12, 40, 51, 0.05);
    transform: translate(0, -10%);
  }

  100% {
    transform: translate(0, 10%);
  }
}

@keyframes articleBorder {
  0% {
  }
  100% {
    max-height: 25rem;
    opacity: 1;
  }
}

@keyframes articleEaseInOut {
  25% {
    opacity: 0;
  }
  100% {
    margin-left: 0vw;
    margin-right: 0vw;
    opacity: 1;
  }
}

/*------------------------------------------- HERO */
.hero-section {
  height: 100vh;
}

.hero-article {
  width: 100%;
  height: 100%;
  text-align: center;
  background: url(../images/hero_gradient.jpeg);
  background-size: cover;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
  animation: animatedBackgroundHero 15s ease-in-out infinite;
}

@keyframes animatedBackgroundHero {
  0% {
    background-position: 0px 0px;
  }
  50% {
    background-position: 25px 0px;
  }
  100% {
    background-position: 0px 0px;
  }
}

.hero-article h2 {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 18rem;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
  opacity: 0;
  animation: 1s ease-out 0.25s 1 forwards running fadeIn;
}

.wave-h2 {
  position: relative;
  -webkit-box-reflect: below -2px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}
.wave-h2 span {
  position: relative;
  display: inline-block;
  animation: waveh2 7.5s ease-in-out infinite;
  animation-delay: calc(0.5s * var(--i));
}

@keyframes waveh2 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.hero-article h2::first-letter {
  color: #a77b00;
}

.hero-article h3 {
  position: absolute;
  width: 18rem;
  padding: 0.25rem 0.25rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  opacity: 0;
  animation: 1s ease-out 1.25s 1 forwards running fadeIn;
}
.hero-article h3:nth-of-type(1) {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 1);
  border-bottom: 2px #a77b00 solid;
}
.hero-article h3:nth-of-type(2) {
  top: 66%;
  right: 50%;
  transform: matrix(1, 0, 0, -1, 0, 0) translate(50%, 50%);
  color: rgba(255, 255, 255, 0.25);
  border-bottom: 2px rgba(167, 122, 0, 0.25) solid;
  filter: blur(2px);
}

/*------------------------------------------- CITATION */
.citation-section {
  position: relative;
  padding: 4rem 0;
  overflow: hidden;
}

.citation-article {
  width: 90vw;
  margin: 0rem auto;
  padding: 0.5rem 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  row-gap: 0.5rem;
  border-left: 2px #a77b00 solid;
}

.citation-article h3 {
  font-style: italic;
  font-size: 1.5rem;
  z-index: 10;
}
.citation-article h3:nth-of-type(1) {
  grid-area: 1/1/2/2;
  justify-self: left;
}
.citation-article h3:nth-of-type(2) {
  grid-area: 2/1/2/2;
  justify-self: right;
}

.citation-article p {
  margin-top: 4rem;
  justify-self: right;
  font-size: 1rem;
}
.citation-article p::first-letter {
  color: #a77b00;
}

/*------------------------------------------- INTRO */
.intro-section {
  background: url(../images/ripples.jpeg);
  background-repeat: repeat;
  padding: 4rem 0;
  animation: animatedBackgroundLeft 1500s linear infinite;
}

.intro-article {
  width: 90vw;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  justify-items: center;
  text-align: center;
  font-size: 1.25rem;
  border-left: 2px #0b0b40 solid;
  overflow: hidden;
}

.intro-article p {
  font-size: 1.25rem;
}

.cv-btn {
  margin-top: 4rem;
  padding: 0.5rem 3rem;
  background: #ffffff;
  font-size: 1rem;
  color: #0c2833;
  border: 2px solid #0b0b40;
  border-radius: 10px;
  transition: all 0.1s;
}
.cv-btn:hover {
  background: #e1c896;
}

/*------------------------------------------- BIENVENUE */
.bienvenue-section {
  position: relative;
  padding: 8rem 0;
  overflow: hidden;
}

.bienvenue-article {
  width: 90vw;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  border-left: 2px #a77b00 solid;
}

.bienvenue-article p {
  font-size: 1.5rem;
  font-style: italic;
  z-index: 10;
}

/*------------------------------------------- PROJETS */
.projets-section {
  padding: 4rem 0;
  background: url(../images/ripples.jpeg);
  background-repeat: repeat;
  animation: animatedBackgroundRight 1500s linear infinite;
}

.projets-grid {
  width: 90vw;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  column-gap: 1rem;
  row-gap: 1rem;
}

.projets-article {
  width: 100%;
  padding: 0.5rem 0.5rem;
  border-left: 2px #0b0b40 solid;
  overflow: hidden;
}

.projet-preview {
  width: 100%;
  height: 12.5rem;
  border-radius: 5px 5px 10px 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.projet-preview-img {
  height: 75%;
  border-radius: 5px 5px 0px 0px;
  filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
}

.projet-preview-infos {
  height: 25%;
  border-top: 2px #a77b00 solid;
  border-radius: 0px 0px 10px 10px;
  padding: 1rem;
  background: white;
  color: #0c2833;
  transition: background-color 0.1s;
  font-weight: 600;
}
.projet-preview-infos p::first-letter {
  color: #a77b00;
}

.projet-preview:hover .projet-preview-infos {
  background: #e1c896;
}
.projet-preview:hover .projet-preview-img {
  filter: grayscale(0%);
}

/*------------------------------------------- COMPETENCES */
.competences-section {
  position: relative;
  overflow: hidden;
  padding: 4rem 0;
}

.competences-article {
  width: 90vw;
  margin: 2rem auto;
  padding: 0.5rem 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  justify-items: center;
  align-items: center;
  border-left: 2px #a77b00 solid;
}

.competences-article h5 {
  padding: 0 1rem;
  font-size: 1rem;
}
.competences-article h5:nth-of-type(odd) {
  justify-self: left;
}
.competences-article h5:nth-of-type(even) {
  justify-self: right;
}
.competences-article h5:nth-of-type(1) {
  grid-area: 1/2/2/3;
  color: #383f51;
  border-left: 2px #383f51 solid;
}
.competences-article h5:nth-of-type(2) {
  grid-area: 2/1/3/2;
  color: #5f6b68;
  border-right: 2px #5f6b68 solid;
}
.competences-article h5:nth-of-type(3) {
  grid-area: 3/2/4/3;
  color: #a77b00;
  border-left: 2px #a77b00 solid;
}
.competences-article h5:nth-of-type(4) {
  grid-area: 4/1/5/2;
  color: #0c2833;
  border-right: 2px #0c2833 solid;
}
.competences-article h5:nth-of-type(5) {
  grid-area: 5/2/6/3;
  color: #5f6b68;
  border-left: 2px #5f6b68 solid;
}
.competences-article h5:nth-of-type(6) {
  grid-area: 6/1/7/2;
  color: #a77b00;
  border-right: 2px #a77b00 solid;
}
.competences-article h5:nth-of-type(7) {
  grid-area: 7/2/8/3;
  color: #383f51;
  border-left: 2px #383f51 solid;
}

/*------------------------------------------- CONTACT */
.contact-section {
  padding: 8rem 0;
  background: url(../images/seigaiha.jpeg);
  background-repeat: repeat;
  animation: animatedBackgroundRight 1500s linear infinite;
}

.contact-article {
  width: 90vw;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  margin: 2rem auto;
  color: #0c2833;
  border-left: 2px #0b0b40 solid;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
  row-gap: 1rem;
}

.contact-article h2 {
  font-size: 1.25rem;
}

.contact-article h3 {
  font-size: 1rem;
  margin-top: 3rem;
  font-weight: 600;
  font-size: 1.25rem;
}

.contact-article a {
  color: #0c2833;
  font-size: 1.25rem;
  font-weight: 600;
  transition: color 0.1s;
}
.contact-article a:hover {
  color: #e1c896;
}

/*------------------------------------------- FOOTER */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 0.5rem;
}

footer h2 {
  padding: 1.5rem 0.25rem;
  text-align: right;
  border-top: 2px #a77b00 solid;
  background-repeat: repeat;
}
footer h2:nth-of-type(1) {
  text-align: right;
}
footer h2:nth-of-type(2) {
  border-left: 2px #a77b00 solid;
  color: white;
  text-align: left;
  background: url(../images/hero_gradient.jpeg);
}

/*------------------------------------------- MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 10;
}

.modal-container {
  top: 50%;
  left: 50%;
  width: 95vw;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background: white;
  position: relative;
  max-height: 100%;
  overflow-y: auto;
}

.modal-projet {
  width: 95%;
  margin: 2.5rem auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.modal-projet-img h2 {
  text-decoration: underline;
  font-size: 1.5rem;
  text-align: center;
}

.modal-projet-img img {
  margin-top: 1.5rem;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.modal-projet-infos {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.modal-projet-infos p {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

.modal-projet-infos a {
  display: inline-block;
  margin-top: 4rem;
  padding: 0.5rem 3rem;
  font-size: 1rem;
  color: #0c2833;
  border: 2px solid #0b0b40;
  border-radius: 10px;
  transition: all 0.1s;
}

.modal-projet-infos a:hover {
  background: #e1c896;
}

.close-btn {
  position: absolute;
  top: 0rem;
  right: 0.5rem;
  font-size: 2rem;
  color: #0b0b40;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  transition: all 0.1s;
}

.close-btn:hover {
  transform: scale(1.25);
  color: rgb(200, 15, 15);
}

/*------------------------------------------- RESPONSIVE DESKTOP */
@media screen and (min-width: 768px) {
  .section-title {
    width: 30rem;
    font-size: 2.5rem;
  }

  .wave {
    font-size: 6rem;
  }

  /*------------------------------------------- NAV DESKTOP */
  nav h1 {
    font-size: 1.25rem;
  }

  nav img {
    width: 3rem;
  }

  .social-icon {
    font-size: 1.5rem;
  }

  .hero-article h2 {
    width: 45rem;
    font-size: 3.25rem;
  }

  /*------------------------------------------- CITATION DESKTOP */

  .citation-article h3 {
    font-size: 2.5rem;
  }

  .citation-article h3:nth-of-type(1) {
    padding-left: 20%;
  }

  .citation-article h3:nth-of-type(2) {
    padding-right: 20%;
  }

  .citation-article p {
    font-size: 1.5rem;
  }

  /*------------------------------------------- BIENVENUE DESKTOP */
  .bienvenue-article p {
    font-size: 2.5rem;
  }

  /*------------------------------------------- PROJETS DESKTOP */
  .projets-grid {
    grid-template-columns: 1fr 1fr;
  }

  .modal-projet {
    grid-template-columns: 70% 30%;
    column-gap: 1rem;
  }

  /*------------------------------------------- COMPETENCE DESKTOP */
  .competences-article h5 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero-article h2 {
    width: 62rem;
    font-size: 4.75rem;
  }
}
